/* body {
    font-family: system-ui;
    background: #fff;
    text-align: center;
  }
  */

  h2{
    font-size: 1rem; /* Large size */
    font-weight: bold; /* Bold weight */
    color: white; /* White color */
    font-family: 'Roboto', sans-serif; 
    margin: 0;
  }

  .timer {
      margin-top: 10px;
  }

  .white-text {
    fill: white;
    font-family: 'Roboto', sans-serif; 
  }
    
  .timer > svg {
      width: 200px;
      height: 200px;
  }
  
  .timer > svg > circle {
      fill: none;
      stroke-opacity: 0.3;
      stroke: #0d6efd;
      stroke-width: 10;
      transform-origin: center center;
      transform: rotate(-90deg);
  }
  
  .timer > svg > circle + circle {
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      stroke-linecap: round;
      stroke-opacity: 1;
  }
  
  .timer.animatable > svg > circle + circle {
      transition: stroke-dashoffset 0.3s ease;
  }
  
  .timer > svg > text {
      font-size: 2rem;
  }
  
  .timer > svg > text + text {
      font-size: 1rem;
  }
 