<div>
    <app-top-bar [buttons]="topBarButtons"></app-top-bar>
     <div class="page-container">
        <p class="title fontSize4Rem fontRoboto">The Avalanche</p>
        <span class="nice_bold_white fontSize1_3Rem fontRoboto">The gamble we deserve</span>
        <div class="page-container">
            <div>
                <button class="btn btn-success btn-sm" (click)="navigateToPlay()">Play
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div> 
    <app-modal></app-modal>
</div>
