<div class="page-container">
    <p class="title">The Avalanche</p>
    <div class="semi-transparent-container">
        <div class="container">
            <span class="description">Please select the bank</span>
        </div>
        <div class="buttons-container">
            <button class="green-button" (click)="selectBank(2)">2 Euros</button>
            <button class="green-button" (click)="selectBank(5)">5 Euros</button>
            <button class="green-button" (click)="selectBank(10)">10 Euros</button>
        </div>
    </div>
</div>