<div>
  <app-top-bar [buttons]="topBarButtons"></app-top-bar>
    <div class="balance_container">
      <p>Your balance:</p>
      <h1>{{ formatBalance(balance) }}<i class="bi bi-currency-euro"></i></h1>
    </div>
    <div class="container-select-th">
      <div class="card-body">
        <h6>Hi {{ userName }}, choose the threshold</h6>
      </div>
  
      <div class="bs-component">
        <p>
          <button class="btn disabled btn-outline-secondary" (click)="selectBank(2)" [class.disabled]="balance < 2" [disabled]="balance < 2">2 Euros</button>
          <button class="btn btn-outline-success" (click)="selectBank(5)" [class.disabled]="balance < 5" [disabled]="balance < 5">5 Euros</button>
          <button class="btn disabled btn-outline-secondary" (click)="selectBank(10)" [class.disabled]="balance < 10" [disabled]="balance < 10">10 Euros</button>
        </p>
      </div>
      <button class="btn btn-dark btn-lg btn-sm" (click)="addBalance()">Top Up Balance
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    </div>
    <app-modal></app-modal>
  </div>
