html, body {
  height: 100%;
  margin: 0;
}

.page-container {
  text-align: center;
  margin-top: 150px; 
}

.title {
  font-weight: bold; 
  margin: 0;
  background: linear-gradient(#d2d1f3, #a7d3ee 47%, #a2dbe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fontRoboto{
  font-family: 'Roboto', sans-serif; 
}

.nice_bold_white{
  font-weight: bold; 
  color: white;
  margin: 0;
}

.fontSize4Rem{
  font-size: 4rem; 
}

.fontSize1_3Rem{
  font-size: 1.3em; 
}

.fontSize10Px{
  font-size: 10px; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
